* {
    box-sizing: border-box;
}

h1 {
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    font-size: 100px;
    border-width: 5px;
    border-style: inset;
    
    width: fit-content;
    padding: 10px 20px;
    margin: 5px auto 20px;
}

img {
    /* MARGEN CENTRADO */
    margin: 20px auto;
    padding: 0px;
    display: block;
    width: 400px;
}

h2 {
    font-family: "Georgia", serif;
    color: #A1A1A1;
    font-size: 30px;
}

h3 {
    font-family: "Georgia", serif;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

p {
    width: 900px;
    padding: auto 10px;
}

li {
    margin: 15px 0px;
}

p, li {
   font-family: "Verdana", sans-serif; 
   font-size: 18px;
}

h2.tomato {
    color: green;
}

#ingredients {
    background-color: #B5AEF7;
    border: purple solid 5px;
    margin: 5px 15px;
    width: 700px;
}

#ingredients h2 {
    color: aqua;
    font-family: "Courier New", monospace;
    padding-left: 12px;
    margin-top: 12px;
}

#grilled-cheese-bg {
    background-color: #FFF999;
}

#tomato-soup-bg {
    background-color: #FF9999;
}

#hot-chocolate-bg {
    background-color: #9E8265;
}

#grilled-cheese-title {
    color: #FFC40C;
    background-color: yellow;
    border-color: #D5A200;
}

#tomato-soup-title {
    color: rgb(180, 0, 0);
    background-color: tomato;
    border-color: orangered;
}

#tips {
    color: #166228;
    background-color: #81D299;
}

#warnings {
    color: maroon;
    background-color: red;
}